<div class="container my-5">
    <h3 class="text-capitalize main-title">contact us</h3>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Enter Your email address"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Message</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Enter Your message here...."
    ></textarea>
  </div>
  <button type="button" class="btn btn-success">Submit</button>
</div>
