/* You can add global styles to this file, and also import other style files */
$primary-color: #f02600;
$secondary-color: green;
$black-color: #000000;
$white-color: #ffffff;


$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;

$weight-400 : 400;
$weight-500 : 500;
$weight-600 : 600;
$weight-700 : 700;

$transition : all ease-in-out 0.3s;